.sevices-section{
    padding: 3rem 2rem;
    padding-top: 0;
}
.services-titel{
    font-size: 2.5rem;
    color: #005DB7;
    font-weight: 600;
    line-height: 50px; 
    text-align: center;
}
.services-descriptin{
    text-align: justify;
    font-size: 16px;
    font-style: normal;
    color: #636363;
    padding-top:1rem;
    padding-bottom:2rem;
    text-align: center;
}
.services-cart-sec{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.services-cart{
    padding: 20px;
    border: 1px solid rgba(1, 1, 1, 0.05);
    border-radius: 10px;
    margin: 1rem 1rem;
    transition: 0.3s;
}
.services-cart:hover{
    transform: scale(1.2);
    border: 1px solid rgba(1, 1, 1, 0.05);
    box-shadow: 0 0 10px 10px rgba(1, 1, 1, 0.05);
}
.cart-icon{
    width:60px;
}
.cart-title{
    font-size: 20px;
    font-weight: 500;
    color: #005DB7;
}
.cart-des{
    text-align: left;
    font-size: 14px;
    font-style: normal;
    color: #636363;
}
/* Responsive services section */
@media (max-width: 767.98px) {
    .services-cart-sec{

        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 768px) and (max-width: 992.98px) {
    .services-cart-sec{
        grid-template-columns: repeat(2, 1fr);
    }
}